.leaflet-container {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  width: 97vw;
  height: 40vw;
}
hr {
  position: relative;
  bottom: 15px;
  margin: 0;
}

.para {
  position: relative;
  top: -15px ;
}
.country {
  position: relative;
  bottom: 12px;
}
.title {
  font-size: 20px;
}
.button {
  background-color: #fcba03;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 21px;
  top: 15px;
  width: 247px;
  border-radius: 0px 0px 13px 13px;
  font-weight: 600;
  font-size: 14px;
}

.popup {
  width: 247px;
}

