.leaflet-container {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  width: 97vw;
  height: 25vw;
}
hr {
  position: relative;
  bottom: 15px;
  margin: 0;
}

.para {
  position: relative;
  top: -15px ;
}
.country {
  position: relative;
  bottom: 12px;
}
.title {
  font-size: 20px;
}
.button {
  background-color: #fcba03;
  color:  white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 21px;
  top: 15px;
  width: 247px;
  border-radius: 0px 0px 13px 13px;
  font-weight: 600;
  font-size: 14px;
  
}

.button:hover {
  background-color: #D4B700;
}

.popup {
  width: 247px;
  padding-bottom: 2px;
  margin-left: 10px;
}

.buttonclose {
  background-color: red;
  color:  white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  right: 21px;
  top: 15px;
  width: 247px;
  border-radius: 0px 0px 13px 13px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;

}

.buttonclose:hover {
  background-color: #d00000;
}

.marker {
  background-color: red;
}

.icon {
  padding-left: 10px;
}

