.text-header {
    padding-left: 15%;
    padding-top: 10%;;
}

.lead {
    padding-left: 15%;
}

.heros {
    display: block;
    margin: 0 auto;
    padding-top: 2%;
    padding-right: 8%;
    float: right;
    border: none;
}